<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body bgcolor="aqua">
    <%= link_to "Students", students_create_url %> 
    <%= link_to "Teacher",  teachers_create_url %>
    <%= link_to "Attendence", attendence_create_url %>

    <%= yield %>
  </body>
</html>
